.list {
  color: #fff;
  width: 300px;
  margin: 20px auto;
  height: 50px;
  background-color: #12437a;
  border-radius: 5px;
}
.list p {
  padding: 15px;
  position: relative;
  transition: ease-in-out;
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.list p input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
}
.list p input:focus {
  outline: none;
}

.faicons {
  margin: 0 5px;
  font-size: 15px;
}
