body {
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  background-image: url("./assets/img/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  /* background-position: top; */
  /* background: cover; */
}
.app {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

.todo__form input {
  background-color: rgba(27, 112, 137, 1);
  border: 0;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
.todo__form input::placeholder {
  color: #fff;
}
.todo__form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(202, 156, 24, 1);
  cursor: pointer;
}
.todo__form button:focus {
  outline: none;
}
@media only screen and (min-width: 400px) {
  body {
    background-image: url("./assets/img/bg-1.jpg");
  }
}
@media only screen and (min-device-width: 400px) {
  body {
    background-image: url("./assets/img/bg-1.jpg");
  }
}
